<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stejasvin.eaindia" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MenuActivity"
            android:label="@string/title_activity_add_student" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AddStudent" />
        <activity android:name=".Activities.ViewStudent" />
        <activity android:name=".Activities.AddSkillChart" />
        <activity android:name=".Activities.AddSkill" />
        <activity android:name=".Activities.ViewSkillChartList" />
        <activity
            android:name=".Activities.ViewSkillChart"
            android:label="@string/title_activity_view_skill_chart" >
        </activity>
        <activity
            android:name=".Activities.ViewStudentDetail"
            android:label="@string/title_activity_view_student_detail" >
        </activity>
    </application>

</manifest>
